<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter_username }}" />
  <meta name="twitter:title" content="{{ .Site.Title }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />

  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) }}
  {{ $style := resources.Get "scss/main.scss" | css.Sass $options }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="manifest" href="/site.webmanifest" />
</head>
