<header class="site-header">
  <div class="banner-container">
    <img src="/images/glitch-banner(white).png" alt="Digital Artifacts Banner" class="banner-image">
    <a href="/" class="logo-overlay">
      <img src="/images/Digital_Artifacts_Logo(no_background).png" alt="Digital Artifacts Logo" class="site-logo">
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/design" {{ if eq .Section "design" }}class="active"{{ end }}>design</a></li>
      <li><a href="/sounds" {{ if eq .Section "sounds" }}class="active"{{ end }}>sound</a></li>
      <li><a href="/code" {{ if eq .Section "code" }}class="active"{{ end }}>code</a></li>
      <li><a href="/images" {{ if eq .Section "images" }}class="active"{{ end }}>image</a></li>
      <li><a href="/words" {{ if eq .Section "words" }}class="active"{{ end }}>word</a></li>
      <li><a href="/info" {{ if eq .Section "info" }}class="active"{{ end }}>info</a></li>
    </ul>
  </nav>
</header>
